.works {
  padding: 80px 0;
  background: #FCFCFC;
}
.works .block {
  position: relative;
  z-index: 99;
}
.works .block:hover .img-overly .overly {
  opacity: 1;
}
.works .block h4 {
  padding: 20px 15px;
  margin-top: 0;
  color: #666;
}
.works .block .img-overly {
  position: relative;
  background: rgba(0, 0, 0, 0.85);
}
.works .block .img-overly img {
  border-radius: 0;
}
.works .block .img-overly .overly {
  background: rgba(57, 181, 74, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
.works .block .img-overly .overly a {
  position: absolute;
  top: 45%;
  left: 22%;
}
.works .block .img-overly .overly a i {
  font-size: 30px;
  color: #fff;
}
figure {
  background: #fff;
  margin-bottom: 45px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.04), 0 2px 10px 0 rgba(0, 0, 0, 0.06);
}
figure .img-wrapper {
  position: relative;
  overflow: hidden;
}
figure img {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: -webkit-transform 400ms;
  transition: transform 400ms;
}
figure:hover img {
  -webkit-transform: scale3d(1.2, 1.2, 1);
  transform: scale3d(1.2, 1.2, 1);
}
figure:hover .overlay {
  opacity: 1;
}
figure:hover .overlay .buttons a {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
figure .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}
figure .overlay a {
  display: inline-block;
  color: #fff;
  padding: 10px 23px;
  line-height: 1;
  border: 1px solid #fff;
  border-radius: 0px;
  margin: 4px;
  -webkit-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}
figure .overlay a:hover {
  text-decoration: none;
}
figure .overlay:hover a {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
figure .buttons {
  position: absolute;
  top: 45%;
  left: 24%;
}
figure figcaption {
  padding: 20px 25px;
  margin-top: 0;
  color: #666;
}
figure figcaption h4 {
  margin: 0;
}
figure figcaption h4 a {
  color: #1447be;
    font-weight:bold
}
figure figcaption p {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 5px;
}

.works.service-page figure .buttons {
  position: absolute;
  top: 45%;
  left: 13%;
}

.works-fit {
  padding: 40px 0;
}
.works-fit figure .buttons {
  left: 14%;
}
